@page
@model appcrud.Pages.HangHoas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HangHoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HangHoa.ma_hanghoa" class="control-label"></label>
                <input asp-for="HangHoa.ma_hanghoa" class="form-control" />
                <span asp-validation-for="HangHoa.ma_hanghoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangHoa.ten_hanghoa" class="control-label"></label>
                <input asp-for="HangHoa.ten_hanghoa" class="form-control" />
                <span asp-validation-for="HangHoa.ten_hanghoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangHoa.so_luong" class="control-label"></label>
                <input asp-for="HangHoa.so_luong" class="form-control" />
                <span asp-validation-for="HangHoa.so_luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangHoa.ghi_chu" class="control-label"></label>
                <input asp-for="HangHoa.ghi_chu" class="form-control" />
                <span asp-validation-for="HangHoa.ghi_chu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
